<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPS_Utilities.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <IPS_Utilities.My.MySettings>
            <setting name="BATCH_DB_CONN" serializeAs="String">
                <value>Server=MTDog;Database=IPS_AutoPay;User ID=RptLogin;Password=xray13;Trusted_Connection=False</value>
            </setting>
            <setting name="SERVICES_DB_CONN" serializeAs="String">
                <value>Server=MtDog;Database=ServiceBrokerDB;User ID=RptLogin;Password=xray13;Trusted_Connection=False</value>
            </setting>
            <setting name="CARDTRANS_TABLE" serializeAs="String">
                <value>ATITest_CardTrans</value>
            </setting>
        </IPS_Utilities.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWrapperService" />
                <binding name="ToolsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mtdog:81/WrapperService/WrapperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWrapperService"
                contract="WrapperService.IWrapperService" name="BasicHttpBinding_IWrapperService" />
            <endpoint address="http://mtashland/IPSToolsWS4/Tools.asmx" binding="basicHttpBinding"
                bindingConfiguration="ToolsSoap" contract="IPSTools.ToolsSoap"
                name="ToolsSoap" />
        </client>
    </system.serviceModel>
</configuration>
