@{
    ViewBag.Title = "NWN | Auto Pay by Credit Card";
}

<h1 class="big">Not Eligible</h1>

This account is not currently eligible to use this feature. Please call Customer Service at 800-422-4012 for additional information.

 <div class="process-actions">
     <a class="gen-button right" href="https://www.nwnatural.com"><span>Back to Home</span></a>
 </div>