<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="CardEnrollmentService.Properties.Settings.ServiceBrokerDBConnectionString"
      connectionString="Data Source=DEVWILSON\SQLSERVER2008R2;Initial Catalog=ServiceBrokerDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
   <add name="ServiceProxyDBContext" connectionString="metadata=res://*/ServiceProxyDatabase.csdl|res://*/ServiceProxyDatabase.ssdl|res://*/ServiceProxyDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVWILSON\SQLSERVER2008R2;initial catalog=ServiceData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CardActiveValue" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="Ati.ServiceHost.Web.WebServiceHostFactory" service="LuhnModValidation" relativeAddress="CardValidation.svc" />
        <add factory="Ati.ServiceHost.Web.WebServiceHostFactory" service="TempusEnrollCardService" relativeAddress="EnrollCard.svc"/>
        <add factory="Ati.ServiceHost.Web.WebServiceHostFactory" service="CustomerPassThruService" relativeAddress="PassThruByName.svc"/>
        <add factory="Ati.ServiceHost.Web.WebServiceHostFactory" service="CustomerPassThruService" relativeAddress="PassThruByNumber.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
