/*
#fceda7 to #a7fcaf
#fadb4e to #5afa4e
#f7c942 to #5cf742
#33ff33 to #9efaa2
#fe3 to #33ff33
#fcf0b5 to #b5fcb5
#e79952 to #52e760
#fbe26f to #76fb6f
*/
.ui-bar-e {
                color:                                                                     white;
                border: 1px solid                              #22537A;
                background:                                       #22537A;
                background-image: -moz-linear-gradient(top, 
                                                                                                                #22537A, 
                                                                                                                #22537A);
                background-image: -webkit-gradient(linear,left top,left bottom,
                                color-stop(0,                      #22537A),
                                color-stop(1,                      #22537A));
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#22537A', EndColorStr='#22537A')";
}
.ui-body-e {
                border: 1px solid                              #5cf742;
                background:                                       #9efaa2;
                background-image: -moz-linear-gradient(top, 
                                                                                                                #fff, 
                                                                                                                #9efaa2);
                background-image: -webkit-gradient(linear,left top,left bottom,
                                color-stop(0,                      #fff),
                                color-stop(1,                      #9efaa2));
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#9efaa2')";
}
.ui-btn-up-e {
                border: 1px solid                              #5cf742;
                background:                                       #5afa4e;
                text-shadow: 0 1px 1px                 #33ff33;
                background-image: -moz-linear-gradient(top, 
                                                                                                                #a7fcaf, 
                                                                                                                #5afa4e);
                background-image: -webkit-gradient(linear,left top,left bottom,
                                color-stop(0,                      #a7fcaf),
                                color-stop(1,                      #5afa4e));
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a7fcaf', EndColorStr='#5afa4e')";
}

.ui-btn-hover-e {
                border: 1px solid                              #52e760;
                background:                                       #76fb6f;
                background-image: -moz-linear-gradient(top, 
                                                                                                                #b5fcb5, 
                                                                                                                #76fb6f);
                background-image: -webkit-gradient(linear,left top,left bottom,
                                color-stop(0,                      #b5fcb5),
                                color-stop(1,                      #76fb6f));
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#b5fcb5', EndColorStr='#76fb6f')";
}

.ui-btn-down-e {
                border: 1px solid                              #5cf742;
                background:                                       #a7fcaf;
                background-image: -moz-linear-gradient(top, 
                                                                                                                #5afa4e, 
                                                                                                                #a7fcaf);
                background-image: -webkit-gradient(linear,left top,left bottom,
                                color-stop(0,                      #5afa4e),
                                color-stop(1,                      #a7fcaf));
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5afa4e', EndColorStr='#a7fcaf')";
}
/* N
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-n {
                border: 1px solid                              #22537A /*{b-bar-border}*/;
                background:                                       #22537A /*{b-bar-background-color}*/;
                color:                                                                     #fff /*{b-bar-color}*/;
                font-weight: bold;
                text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF/*{b-bar-background-start}*/), to(#FFFFFF/*{b-bar-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/);
}
.ui-bar-n,
.ui-bar-n input,
.ui-bar-n select,
.ui-bar-n textarea,
.ui-bar-n button {
                font-family: Helvetica, Arial, sans-serif /*{b-bar-font}*/;
}
.ui-bar-n .ui-link-inherit {
                color:                                                                     #fff /*{b-bar-color}*/;
}
.ui-bar-n .ui-link {
                color:                                                                     #7cc4e7 /*{global-link-color}*/;
                font-weight: bold;
}

.ui-body-n {
	border: 1px solid 		#ccc /*{d-body-border}*/;
	color: 					#333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			#ffffff /*{d-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff /*{d-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/);
}
.ui-body-n,
.ui-body-n input,
.ui-body-n select,
.ui-body-n textarea,
.ui-body-n button {
	font-family: Helvetica, Arial, sans-serif /*{d-body-font}*/;
}
.ui-body-n .ui-link-inherit {
	color: 					#333333 /*{d-body-color}*/;
}
.ui-body-n .ui-link {
	color: 					#2489CE /*{global-link-color}*/;
	font-weight: bold;
}
.ui-btn-up-n {
	border: 1px solid 		#fff /*{d-bup-border}*/;
	background: 			#EEE9DC /*{d-bup-background-color}*/;
	font-weight: bold;
	color: 					#568B4E /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE9DC), to(#EEE9DC /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #EEE9DC /*{d-bup-background-start}*/, #EEE9DC /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #EEE9DC /*{d-bup-background-start}*/, #EEE9DC /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #EEE9DC /*{d-bup-background-start}*/, #EEE9DC /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #EEE9DC /*{d-bup-background-start}*/, #EEE9DC /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #EEE9DC /*{d-bup-background-start}*/, #EEE9DC /*{d-bup-background-end}*/);
}
.ui-btn-up-n a.ui-link-inherit {
	color: 					#333 /*{d-bup-color}*/;
}
.ui-btn-hover-n {
	border: 1px solid 		#aaa /*{d-bhover-border}*/;
	background: 			#eeeeee /*{d-bhover-background-color}*/;
	font-weight: bold;
	color: 					#568B4E /*{d-bhover-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/ 	#fff /*{d-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee /*{d-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fee /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fee /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fee /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #fee /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fee /*{d-bhover-background-start}*/, #eee /*{d-bhover-background-end}*/);
}
.ui-btn-hover-n a.ui-link-inherit {
	color: 					#222 /*{d-bhover-color}*/;
}
.ui-btn-down-n {
	border: 1px solid 		#aaaaaa /*{d-bdown-border}*/;
	background: 			#ffffff /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: 					#568B4E /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 1px /*{d-bdown-shadow-radius}*/ 	#ffffff /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee /*{d-bdown-background-start}*/), to(#fff /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #fee /*{d-bdown-background-start}*/, #fff /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #fee /*{d-bdown-background-start}*/, #fff /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #fee /*{d-bdown-background-start}*/, #fff /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #fee /*{d-bdown-background-start}*/, #fff /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #fee /*{d-bdown-background-start}*/, #fff /*{d-bdown-background-end}*/);
}
.ui-btn-down-n a.ui-link-inherit {
	color: 					#111 /*{d-bdown-color}*/;
}
.ui-btn-up-n,
.ui-btn-hover-n,
.ui-btn-down-n {
	font-family: Helvetica, Arial, sans-serif /*{d-button-font}*/;
	text-decoration: none;
}

/* O
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-o {
                border: 1px solid                              #FFFFFF /*{b-bar-border}*/;
                background:                                       #FFFFFF /*{b-bar-background-color}*/;
                color:                                                                     #fff /*{b-bar-color}*/;
                font-weight: bold;
                text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #254f7a /*{b-bar-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF/*{b-bar-background-start}*/), to(#FFFFFF/*{b-bar-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #FFFFFF/*{b-bar-background-start}*/, #FFFFFF/*{b-bar-background-end}*/);
}
.ui-bar-o, 
.ui-bar-o input,
.ui-bar-o select,
.ui-bar-o textarea,
.ui-bar-o button {
                font-family: Helvetica, Arial, sans-serif /*{b-bar-font}*/;
}
.ui-bar-o .ui-link-inherit {
                color:                                                                     #fff /*{b-bar-color}*/;
}
.ui-bar-o .ui-link {
                color:                                                                     #7cc4e7 /*{global-link-color}*/;
                font-weight: bold;
}

.ui-body-o {
                border: 1px solid                              #C6C6C6 /*{b-body-border}*/;
                background:                                       #cccccc /*{b-body-background-color}*/;
                color:                                                                     #333333 /*{b-body-color}*/;
                text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
                font-weight: normal;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff /*{b-body-background-start}*/), to(#ffffff /*{b-body-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #ffffff /*{b-body-background-start}*/, #ffffff /*{b-body-background-end}*/);
}
.ui-body-o, 
.ui-body-o input,
.ui-body-o select,
.ui-body-o textarea,
.ui-body-o button {
                font-family: Helvetica, Arial, sans-serif /*{b-body-font}*/;
}
.ui-body-o .ui-link-inherit {
                color:                                                                     #333333 /*{b-body-color}*/;
}
.ui-body-o .ui-link {
                color:                                                                     #2489CE /*{global-link-color}*/;
                font-weight: bold;
}
.ui-btn-up-o {
                border: 1px solid                              #22537A/*{b-bup-border}*/;
                background:                                       #22537A/*{b-bup-background-color}*/;
                font-weight: bold;
                color:                                                                     #fff /*{b-bup-color}*/;
                text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#22537A/*{b-bup-background-start}*/), to(#22537A/*{b-bup-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #22537A/*{b-bup-background-start}*/, #22537A/*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #22537A/*{b-bup-background-start}*/, #22537A/*{b-bup-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #22537A/*{b-bup-background-start}*/, #22537A/*{b-bup-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #22537A/*{b-bup-background-start}*/, #22537A/*{b-bup-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #22537A/*{b-bup-background-start}*/, #22537A/*{b-bup-background-end}*/);
}
.ui-btn-up-o a.ui-link-inherit {
                color:                                                                     #fff /*{b-bup-color}*/;
}
.ui-btn-hover-o {
                border: 1px solid                              #73A96F/*{b-bhover-border}*/;
                background:                                       #73A96F/*{b-bhover-background-color}*/;
                font-weight: bold;
                color:                                                                     #fff /*{b-bhover-color}*/;
                text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#164062/*{b-bhover-background-start}*/), to(#164062/*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #164062/*{b-bhover-background-start}*/, #164062/*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #164062/*{b-bhover-background-start}*/, #164062/*{b-bhover-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #164062/*{b-bhover-background-start}*/, #164062/*{b-bhover-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #164062/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #164062/*{b-bhover-background-start}*/, #164062/*{b-bhover-background-end}*/);
}
.ui-btn-hover-o a.ui-link-inherit {
                color:                                                                     #fff /*{b-bhover-color}*/;
}
.ui-btn-down-o {
                border: 1px solid                              #225377 /*{b-bdown-border}*/;
                background:                                       #4e89c5 /*{b-bdown-background-color}*/;
                font-weight: bold;
                color:                                                                     #fff /*{b-bdown-color}*/;
                text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#164062/*{b-bdown-background-start}*/), to(#164062/*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #164062/*{b-bdown-background-start}*/, #164062/*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
                background-image:    -moz-linear-gradient(top, #164062/*{b-bdown-background-start}*/, #164062/*{b-bdown-background-end}*/); /* FF3.6 */
                background-image:     -ms-linear-gradient(top, #164062/*{b-bdown-background-start}*/, #164062/*{b-bdown-background-end}*/); /* IE10 */
                background-image:      -o-linear-gradient(top, #164062/*{b-bdown-background-start}*/, #164062/*{b-bdown-background-end}*/); /* Opera 11.10+ */
                background-image:         linear-gradient(top, #164062/*{b-bdown-background-start}*/, #164062/*{b-bdown-background-end}*/);
}
.ui-btn-down-o a.ui-link-inherit {
                color:                                                                     #fff /*{b-bdown-color}*/;
}
.ui-btn-up-o, 
.ui-btn-hover-o, 
.ui-btn-down-o {
                font-family: Helvetica, Arial, sans-serif /*{b-button-font}*/;
                text-decoration: none;
}


.ui-btn-up-g {
	border: 1px solid 		#60975D/*{b-bup-border}*/;
	background: 			#60975D/*{b-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7EAE7A/*{b-bup-background-start}*/), to(#5E985B/*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #7EAE7A/*{b-bup-background-start}*/, #5E985B/*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #7EAE7A/*{b-bup-background-start}*/, #5E985B/*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #7EAE7A/*{b-bup-background-start}*/, #5E985B/*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #7EAE7A/*{b-bup-background-start}*/, #5E985B/*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #7EAE7A/*{b-bup-background-start}*/, #5E985B/*{b-bup-background-end}*/);
}
.ui-btn-up-g a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-g {
	border: 1px solid 		#73A96F/*{b-bhover-border}*/;
	background: 			#73A96F/*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ -1px /*{b-bhover-shadow-y}*/ 1px /*{b-bhover-shadow-radius}*/ #014D68 /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8BBB87/*{b-bhover-background-start}*/), to(#6FAB6B/*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8BBB87/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #8BBB87/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8BBB87/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #8BBB87/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #8BBB87/*{b-bhover-background-start}*/, #6FAB6B/*{b-bhover-background-end}*/);
}
.ui-btn-hover-g a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid 		#225377 /*{b-bdown-border}*/;
	background: 			#4e89c5 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ -1px /*{b-bdown-shadow-y}*/ 1px /*{b-bdown-shadow-radius}*/ #225377 /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#396b9e /*{b-bdown-background-start}*/), to(#4e89c5 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #396b9e /*{b-bdown-background-start}*/, #4e89c5 /*{b-bdown-background-end}*/);
}
.ui-btn-down-g a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	font-family: Helvetica, Arial, sans-serif /*{b-button-font}*/;
	text-decoration: none;
}



h3 {
color: #4B7C94;
}



