<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MainSiteUrl" value="https://www.nwnatural.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAutoPayCreditCardService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="http://wwwpdservices.gasco.com/CssService/AutoPayService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoPayCreditCardService" contract="AutoPayCreditCardServiceReference.IAutoPayCreditCardService" name="BasicHttpBinding_IAutoPayService">
        <identity>
          <dns value="services.nwnatural.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>