<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AtsAPCC-20130717095301;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AtsAPCC-20130717095301.mdf" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-AtsAPCC-20130717095301.mdf;Initial Catalog=aspnet-AtsAPCC-20130717095301;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="InvestorSiteUrl" value="http://www.snl.com/irweblinkx/corporateprofile.aspx?iid=4057132" />
    <add key="MainSiteUrl" value="https://wwwqa.gasco.com" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
      <customErrors mode="Off" defaultRedirect="/AutoPayCredit/NotAvailable" />
      <compilation debug="true" targetFramework="4.5" />
      <sessionState timeout="20" />

      <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />    
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
    <extensions>
      <add assembly="AtsAPCC" />
    </extensions>
    <targets async="true">
      <target name="traceFile" xsi:type="File" fileName="${logDirectory}/trace.txt" layout="${longdate}|${message}" />
      <target name="primaryLogFile" xsi:type="File" fileName="${logDirectory}/log.txt" layout="${longdate}|${level}|${message}${newline}[${exception:format=ShortType}: ${exception:format=Message}]${newline}${exception:format=StackTrace}" />
      <target name="emailLogFile" xsi:type="File" fileName="${logDirectory}/emaillog.txt" layout="${longdate}|${level}|${message}" />
      <target name="eventLog" xsi:type="EventLog" source="NWNatural.Web" layout="${longdate}|${level}|${message}${newline}[${exception:format=ShortType}: ${exception:format=Message}]${newline}${exception:format=StackTrace}" />   
    </targets>
    <rules>
      <logger name="*" writeTo="primaryLogFile,eventLog" minlevel="Warn" />
    </rules>
  </nlog>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAutoPayCreditCardService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://maxedout/NwnDevWsRouter/IVRRoutingServices.svc/AutoPayEndPoint" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoPayCreditCardService" contract="AutoPayCreditCardServiceReference.IAutoPayCreditCardService" name="BasicHttpBinding_IAutoPayCreditCardService" />
    </client>
  </system.serviceModel>
</configuration>